node-red/flows node-red.json
[{"id":"ef8c5699.665e6","type":"inject","z":"76b8b990.84d73","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":1140,"wires":[["c4192a2.eaab3d8"]]},{"id":"4772af2b.0fd0a8","type":"debug","z":"76b8b990.84d73","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":1120,"wires":[]},{"id":"c4192a2.eaab3d8","type":"template","z":"76b8b990.84d73","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<tbody><tr>\n<th>Befehl\n</th>\n<th>Funktion\n</th>\n<th>Datenbytes\n</th>\n<th>Typ\n</th></tr>\n<tr>\n<td>01h\n</td>\n<td>Sollwert Brauchwassertemperatur\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>02h\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>03h\n</td>\n<td>Unbekannter Statuswert\n</td>\n<td>1\n</td>\n<td>Status (F0h/0Fh)\n</td></tr>\n<tr>\n<td>04h\n</td>\n<td>Sollwert Speicher\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>05h\n</td>\n<td>Flammsignal\n</td>\n<td>1\n</td>\n<td>Status (F0h/0Fh)\n</td></tr>\n<tr>\n<td>06h\n</td>\n<td>Fehlerspeicher?\n</td>\n<td>28\n</td>\n<td>Fehlerspeicher\n</td></tr>\n<tr>\n<td>07h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (F0h/0Fh)\n</td></tr>\n<tr>\n<td>08h\n</td>\n<td>Sommer/Winter-Schalter\n</td>\n<td>1\n</td>\n<td>Status (Sommer/Winter)\n</td></tr>\n<tr>\n<td>09h\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>0Ah\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>0Bh\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>0Ch\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>0Dh\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (F0h/0Fh)\n</td></tr>\n<tr>\n<td>0Eh\n</td>\n<td>Status Raumthermostat\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>16h\n</td>\n<td>Brauchwassersensor\n</td>\n<td>3\n</td>\n<td>Ein Analogwert (2 byte) + ein Sensorstatus\n</td></tr>\n<tr>\n<td>17h\n</td>\n<td>Speichertemperatur\n</td>\n<td>3\n</td>\n<td>Ein Analogwert (2 byte) + ein Sensorstatus\n</td></tr>\n<tr>\n<td>18h\n</td>\n<td>Vorlauftemperatur\n</td>\n<td>3\n</td>\n<td>Ein Analogwert (2 byte) + ein Sensorstatus\n</td></tr>\n<tr>\n<td>19h\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>1Fh\n</td>\n<td>Anzahl GFA Störungen\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>20h\n</td>\n<td>Anzahl STB Abschaltungen\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>21h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>22h\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>23h\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>24h\n</td>\n<td>Drehzahlsollwert\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>25h\n</td>\n<td>Sollwert Vorlauf Ext. Regler 7-8-9\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>26h\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>28h\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>29h\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>2Eh\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>32h\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>38h\n</td>\n<td>Verbleibende Brennersperrzeit\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>39h\n</td>\n<td>Sollwert Vorlauftemperatur\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>3Ah\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>3Ch\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>3Dh\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>3Eh\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>3Fh\n</td>\n<td>Status externe Heizungspumpe\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>40h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>42h\n</td>\n<td>Stellung VUV\n</td>\n<td>1\n</td>\n<td>Status (?)\n</td></tr>\n<tr>\n<td>43h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>44h\n</td>\n<td>Status interne Heizungspumpe\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>45h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>46h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (F0h/0Fh)\n</td></tr>\n<tr>\n<td>47h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (F0h/0Fh)\n</td></tr>\n<tr>\n<td>48h\n</td>\n<td>Status Gasmagnetventil\n</td>\n<td>1\n</td>\n<td>Status (F0h/0Fh)\n</td></tr>\n<tr>\n<td>49h\n</td>\n<td>Status Zünder\n</td>\n<td>1\n</td>\n<td>Status (F0h/0Fh)\n</td></tr>\n<tr>\n<td>4Bh\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>4Ch\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>4Dh\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (F0h/0Fh)\n</td></tr>\n<tr>\n<td>4Eh\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (F0h/0Fh)\n</td></tr>\n<tr>\n<td>4Fh\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (F0h/0Fh)\n</td></tr>\n<tr>\n<td>50h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (F0h/0Fh)\n</td></tr>\n<tr>\n<td>51h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (F0h/0Fh)\n</td></tr>\n<tr>\n<td>53h\n</td>\n<td>Status Unbekannt\n</td>\n<td>1\n</td>\n<td>Status (F0h/0Fh)\n</td></tr>\n<tr>\n<td>54h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>55h\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>57h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>58h\n</td>\n<td>Anforderung Warmwasser C1/C2\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>5Bh\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>5Ch\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>5Dh\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>5Eh\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>5Fh\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>63h\n</td>\n<td>Wasserpumpennachlaufzeit nach Speicherladung\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>64h\n</td>\n<td>Wasserpumpennachlaufzeit nach Heizbetrieb\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>65h\n</td>\n<td>Korrekturwert Aussentemperatur\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>66h\n</td>\n<td>Speicherladezeit\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>68h\n</td>\n<td>?\n</td>\n<td>8\n</td>\n<td>?\n</td></tr>\n<tr>\n<td>69h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>6Ah\n</td>\n<td>Aussentemperatur\n</td>\n<td>3\n</td>\n<td>Ein Analogwert (2 byte) + ein Sensorstatus\n</td></tr>\n<tr>\n<td>6Bh\n</td>\n<td>Ext. Vor-/Rücklauftemperatur\n</td>\n<td>3\n</td>\n<td>Ein Analogwert (2 byte) + ein Sensorstatus\n</td></tr>\n<tr>\n<td>6Ch\n</td>\n<td>Heizungsteillast\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>6Dh\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>6Eh\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>6Fh\n</td>\n<td>Zähler 3 Zündversuche\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>70h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>71h\n</td>\n<td>Status Speicherfreigabe Schaltuhr\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>72h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>73h\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>74h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>75h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>76h\n</td>\n<td>?\n</td>\n<td>3\n</td>\n<td>Ein Analogwert (2 byte) + ein Sensorstatus\n</td></tr>\n<tr>\n<td>77h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (F0h/0Fh)\n</td></tr>\n<tr>\n<td>7Ah\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>7Bh\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>7Ch\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>81h\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>82h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>83h\n</td>\n<td>Drehzahlistwert\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>89h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>8Eh\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>8Fh\n</td>\n<td>?\n</td>\n<td>9\n</td>\n<td>?\n</td></tr>\n<tr>\n<td>98h\n</td>\n<td>Rücklauftemperatur\n</td>\n<td>5\n</td>\n<td>Zwei Analogwerte (2 x 2 byte) + ein Sensorstatus\n</td></tr>\n<tr>\n<td>99h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>9Ah\n</td>\n<td>Unbekannter Temperaturwert\n</td>\n<td>5\n</td>\n<td>Zwei Analogwerte (2 x 2 byte) + ein Sensorstatus\n</td></tr>\n<tr>\n<td>9Bh\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>9Dh\n</td>\n<td>Offset Warmstartsollwert\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>9Eh\n</td>\n<td>Status Speicherladepumpe\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>9Fh\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>A0h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>A1h\n</td>\n<td>Sollwert interne Heizungspumpe\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>A2h\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>A3h\n</td>\n<td>?\n</td>\n<td>3\n</td>\n<td>Ein Analogwert (2 byte) + ein Sensorstatus\n</td></tr>\n<tr>\n<td>A4h\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>A5h\n</td>\n<td>Max. Vorlauftemperatur\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>A6h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>A7h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>A8h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>A9h\n</td>\n<td>Unbekannter Wert\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>AAh\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>ABh\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>ACh\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>ADh\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (F0h/0Fh)\n</td></tr>\n<tr>\n<td>AEh\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>AFh\n</td>\n<td>Status Zirkulationspumpe\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>B0h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>B2h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>B3h\n</td>\n<td>Status Rücklaufregelung\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>B4h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>B6h\n</td>\n<td>Speichertemperatur unten\n</td>\n<td>3\n</td>\n<td>Ein Analogwert (2 byte) + ein Sensorstatus\n</td></tr>\n<tr>\n<td>B7h\n</td>\n<td>Kollektortemperatur (nein!)\n</td>\n<td>3\n</td>\n<td>Ein Analogwert (2 byte) + ein Sensorstatus\n</td></tr>\n<tr>\n<td>B8h\n</td>\n<td>Kollektortemperatur\n</td>\n<td>3\n</td>\n<td>Ein Analogwert (2 byte) + ein Sensorstatus\n</td></tr>\n<tr>\n<td>B9h\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>C3h\n</td>\n<td>Hyterese Solarpumpe\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>CAh\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>D4h\n</td>\n<td>?\n</td>\n<td>3\n</td>\n<td>Ein Analogwert (2 byte) + ein Sensorstatus\n</td></tr>\n<tr>\n<td>D5h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>D6h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n</tbody>","output":"yaml","x":540,"y":1200,"wires":[["53478ec4.36a2e"]]},{"id":"53478ec4.36a2e","type":"xml","z":"76b8b990.84d73","name":"","property":"payload","attr":"","chr":"","x":670,"y":1200,"wires":[["7d5be0ed.c3ddc"]]},{"id":"7d5be0ed.c3ddc","type":"function","z":"76b8b990.84d73","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":1200,"wires":[[]]},{"id":"d5947fc7.6b6ae","type":"template","z":"76b8b990.84d73","name":"","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"<tbody><tr>\n<th>Befehl\n</th>\n<th>Funktion\n</th>\n<th>Datenbytes\n</th>\n<th>Typ\n</th></tr>\n<tr>\n<td>01h\n</td>\n<td>Sollwert Brauchwassertemperatur\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>02h\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>03h\n</td>\n<td>Unbekannter Statuswert\n</td>\n<td>1\n</td>\n<td>Status (F0h/0Fh)\n</td></tr>\n<tr>\n<td>04h\n</td>\n<td>Sollwert Speicher\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>05h\n</td>\n<td>Flammsignal\n</td>\n<td>1\n</td>\n<td>Status (F0h/0Fh)\n</td></tr>\n<tr>\n<td>06h\n</td>\n<td>Fehlerspeicher?\n</td>\n<td>28\n</td>\n<td>Fehlerspeicher\n</td></tr>\n<tr>\n<td>07h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (F0h/0Fh)\n</td></tr>\n<tr>\n<td>08h\n</td>\n<td>Sommer/Winter-Schalter\n</td>\n<td>1\n</td>\n<td>Status (Sommer/Winter)\n</td></tr>\n<tr>\n<td>09h\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>0Ah\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>0Bh\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>0Ch\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>0Dh\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (F0h/0Fh)\n</td></tr>\n<tr>\n<td>0Eh\n</td>\n<td>Status Raumthermostat\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>16h\n</td>\n<td>Brauchwassersensor\n</td>\n<td>3\n</td>\n<td>Ein Analogwert (2 byte) + ein Sensorstatus\n</td></tr>\n<tr>\n<td>17h\n</td>\n<td>Speichertemperatur\n</td>\n<td>3\n</td>\n<td>Ein Analogwert (2 byte) + ein Sensorstatus\n</td></tr>\n<tr>\n<td>18h\n</td>\n<td>Vorlauftemperatur\n</td>\n<td>3\n</td>\n<td>Ein Analogwert (2 byte) + ein Sensorstatus\n</td></tr>\n<tr>\n<td>19h\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>1Fh\n</td>\n<td>Anzahl GFA Störungen\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>20h\n</td>\n<td>Anzahl STB Abschaltungen\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>21h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>22h\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>23h\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>24h\n</td>\n<td>Drehzahlsollwert\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>25h\n</td>\n<td>Sollwert Vorlauf Ext. Regler 7-8-9\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>26h\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>28h\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>29h\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>2Eh\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>32h\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>38h\n</td>\n<td>Verbleibende Brennersperrzeit\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>39h\n</td>\n<td>Sollwert Vorlauftemperatur\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>3Ah\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>3Ch\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>3Dh\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>3Eh\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>3Fh\n</td>\n<td>Status externe Heizungspumpe\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>40h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>42h\n</td>\n<td>Stellung VUV\n</td>\n<td>1\n</td>\n<td>Status (?)\n</td></tr>\n<tr>\n<td>43h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>44h\n</td>\n<td>Status interne Heizungspumpe\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>45h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>46h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (F0h/0Fh)\n</td></tr>\n<tr>\n<td>47h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (F0h/0Fh)\n</td></tr>\n<tr>\n<td>48h\n</td>\n<td>Status Gasmagnetventil\n</td>\n<td>1\n</td>\n<td>Status (F0h/0Fh)\n</td></tr>\n<tr>\n<td>49h\n</td>\n<td>Status Zünder\n</td>\n<td>1\n</td>\n<td>Status (F0h/0Fh)\n</td></tr>\n<tr>\n<td>4Bh\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>4Ch\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>4Dh\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (F0h/0Fh)\n</td></tr>\n<tr>\n<td>4Eh\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (F0h/0Fh)\n</td></tr>\n<tr>\n<td>4Fh\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (F0h/0Fh)\n</td></tr>\n<tr>\n<td>50h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (F0h/0Fh)\n</td></tr>\n<tr>\n<td>51h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (F0h/0Fh)\n</td></tr>\n<tr>\n<td>53h\n</td>\n<td>Status Unbekannt\n</td>\n<td>1\n</td>\n<td>Status (F0h/0Fh)\n</td></tr>\n<tr>\n<td>54h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>55h\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>57h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>58h\n</td>\n<td>Anforderung Warmwasser C1/C2\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>5Bh\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>5Ch\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>5Dh\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>5Eh\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>5Fh\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>63h\n</td>\n<td>Wasserpumpennachlaufzeit nach Speicherladung\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>64h\n</td>\n<td>Wasserpumpennachlaufzeit nach Heizbetrieb\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>65h\n</td>\n<td>Korrekturwert Aussentemperatur\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>66h\n</td>\n<td>Speicherladezeit\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>68h\n</td>\n<td>?\n</td>\n<td>8\n</td>\n<td>?\n</td></tr>\n<tr>\n<td>69h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>6Ah\n</td>\n<td>Aussentemperatur\n</td>\n<td>3\n</td>\n<td>Ein Analogwert (2 byte) + ein Sensorstatus\n</td></tr>\n<tr>\n<td>6Bh\n</td>\n<td>Ext. Vor-/Rücklauftemperatur\n</td>\n<td>3\n</td>\n<td>Ein Analogwert (2 byte) + ein Sensorstatus\n</td></tr>\n<tr>\n<td>6Ch\n</td>\n<td>Heizungsteillast\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>6Dh\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>6Eh\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>6Fh\n</td>\n<td>Zähler 3 Zündversuche\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>70h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>71h\n</td>\n<td>Status Speicherfreigabe Schaltuhr\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>72h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>73h\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>74h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>75h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>76h\n</td>\n<td>?\n</td>\n<td>3\n</td>\n<td>Ein Analogwert (2 byte) + ein Sensorstatus\n</td></tr>\n<tr>\n<td>77h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (F0h/0Fh)\n</td></tr>\n<tr>\n<td>7Ah\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>7Bh\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>7Ch\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>81h\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>82h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>83h\n</td>\n<td>Drehzahlistwert\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>89h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>8Eh\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>8Fh\n</td>\n<td>?\n</td>\n<td>9\n</td>\n<td>?\n</td></tr>\n<tr>\n<td>98h\n</td>\n<td>Rücklauftemperatur\n</td>\n<td>5\n</td>\n<td>Zwei Analogwerte (2 x 2 byte) + ein Sensorstatus\n</td></tr>\n<tr>\n<td>99h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>9Ah\n</td>\n<td>Unbekannter Temperaturwert\n</td>\n<td>5\n</td>\n<td>Zwei Analogwerte (2 x 2 byte) + ein Sensorstatus\n</td></tr>\n<tr>\n<td>9Bh\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>9Dh\n</td>\n<td>Offset Warmstartsollwert\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>9Eh\n</td>\n<td>Status Speicherladepumpe\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>9Fh\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>A0h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>A1h\n</td>\n<td>Sollwert interne Heizungspumpe\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>A2h\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>A3h\n</td>\n<td>?\n</td>\n<td>3\n</td>\n<td>Ein Analogwert (2 byte) + ein Sensorstatus\n</td></tr>\n<tr>\n<td>A4h\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>A5h\n</td>\n<td>Max. Vorlauftemperatur\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>A6h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>A7h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>A8h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>A9h\n</td>\n<td>Unbekannter Wert\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>AAh\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>ABh\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>ACh\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>ADh\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (F0h/0Fh)\n</td></tr>\n<tr>\n<td>AEh\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>AFh\n</td>\n<td>Status Zirkulationspumpe\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>B0h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>B2h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>B3h\n</td>\n<td>Status Rücklaufregelung\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>B4h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>B6h\n</td>\n<td>Speichertemperatur unten\n</td>\n<td>3\n</td>\n<td>Ein Analogwert (2 byte) + ein Sensorstatus\n</td></tr>\n<tr>\n<td>B7h\n</td>\n<td>Kollektortemperatur (nein!)\n</td>\n<td>3\n</td>\n<td>Ein Analogwert (2 byte) + ein Sensorstatus\n</td></tr>\n<tr>\n<td>B8h\n</td>\n<td>Kollektortemperatur\n</td>\n<td>3\n</td>\n<td>Ein Analogwert (2 byte) + ein Sensorstatus\n</td></tr>\n<tr>\n<td>B9h\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>C3h\n</td>\n<td>Hyterese Solarpumpe\n</td>\n<td>1\n</td>\n<td>Ein Analogwert (1 byte)\n</td></tr>\n<tr>\n<td>CAh\n</td>\n<td>?\n</td>\n<td>2\n</td>\n<td>Ein Analogwert (2 byte)\n</td></tr>\n<tr>\n<td>D4h\n</td>\n<td>?\n</td>\n<td>3\n</td>\n<td>Ein Analogwert (2 byte) + ein Sensorstatus\n</td></tr>\n<tr>\n<td>D5h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n<tr>\n<td>D6h\n</td>\n<td>?\n</td>\n<td>1\n</td>\n<td>Status (00h/01h)\n</td></tr>\n</tbody>","output":"str","x":320,"y":840,"wires":[["dbfda744.884038"]]},{"id":"f5dcfccf.2a9618","type":"inject","z":"76b8b990.84d73","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":840,"wires":[["d5947fc7.6b6ae"]]},{"id":"2acf8f55.2b34a","type":"debug","z":"76b8b990.84d73","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":840,"wires":[]},{"id":"dbfda744.884038","type":"xml","z":"76b8b990.84d73","name":"","property":"payload","attr":"","chr":"","x":470,"y":840,"wires":[["389f057c.6949f2"]]},{"id":"389f057c.6949f2","type":"function","z":"76b8b990.84d73","name":"","func":"var array = msg.payload.tbody.tr;\nvar arrayLength = array.length;\nvar parsedArray = [];\n\n//skip first header row\nfor (var i = 1; i < arrayLength; i++) {\n    var line = array[i].td;\n    //1 -> ID\n    split = line[0].split('h')\n    if(split.length!==2&&split[1]!=='\\n'){\n        node.error(\"unknown format of line \" + i);\n    }\n    var id = parseInt(split[0], 16)\n    var bytes = parseInt(line[2])\n    \n    var type;\n    switch(line[3]){\n        case \"Ein Analogwert (1 byte)\\n\":\n            type = \"1ByteAnalog\";\n            break;\n        case \"Ein Analogwert (2 byte)\\n\":\n            type = \"2ByteAnalog\";\n            break;\n        case \"Ein Analogwert (2 byte) + ein Sensorstatus\\n\":\n            type = \"2ByteAnalog+Status\";\n            break;\n        case \"Zwei Analogwerte (2 x 2 byte) + ein Sensorstatus\\n\":\n            type = \"2x2ByteAnalog+Status\";\n            break;\n        case \"Status (F0h/0Fh)\\n\":\n        case \"Status (Sommer/Winter)\\n\":\n            type = \"Status\";\n            break;\n        case \"Status (00h/01h)\\n\":\n            type = \"Zustand\";\n            break;\n        case \"Fehlerspeicher\\n\":\n            type = \"Fehlerspeicher\";\n            break;\n        default:\n            type = \"Unknown\";\n            node.error(\"Unknown Type in ID \" + id + \" \\\"\"+line[3]+\"\\\"\");\n    }\n    \n    /*if(line[0].pop()!=='h')\n    {\n        node.error(\"unknown char in row 1\");\n        break;\n    }*/\n    //\n    var parsedElement = {id:id,desc:line[1],bytes:bytes,type:type}\n    \n    parsedArray.push(parsedElement)\n}\n\nmsg.parsed = parsedArray;\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":840,"wires":[["2acf8f55.2b34a"]]},{"id":"74530a01.566f44","type":"tcp request","z":"76b8b990.84d73","server":"heizung.fritz.box","port":"23","out":"time","splitc":"2000","name":"","x":710,"y":320,"wires":[["9fba738e.9932f"]]},{"id":"118385b.58fc8fa","type":"inject","z":"76b8b990.84d73","name":"","topic":"","payload":"[7,0,0,0,\"0x98\",5,\"0xCC\"]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":480,"y":240,"wires":[["74530a01.566f44"]]},{"id":"8d974ebd.f53228","type":"inject","z":"76b8b990.84d73","name":"","topic":"","payload":"[7,2,0,0,0,4,\"0xC4\"]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":480,"y":280,"wires":[["74530a01.566f44"]]},{"id":"3b1bd8dd.bcc748","type":"function","z":"76b8b990.84d73","name":"Create Measurement Request","func":"msg.parameterNr = msg.payload\n\nanfrage = Buffer.from([0,0,msg.payload,5/*Len*/]);\n\nmsg.payload = anfrage;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":320,"wires":[["427c1bed.6c296c","4c11b342.bb520c"]]},{"id":"4c11b342.bb520c","type":"function","z":"76b8b990.84d73","name":"pack request","func":"firstBuf = Buffer.from([Buffer.byteLength(msg.payload)+3,0])\nrequestWoCrc = Buffer.concat([firstBuf, msg.payload]);\n\n// calcCRC\nchecksum = 0\n\nfor (i = 0; i < Buffer.byteLength(requestWoCrc); i++) {\n  if (checksum&\"0x80\"){\n    checksum = (checksum << 1 | 1) & \"0xFF\";\n    checksum = checksum ^ \"0x18\";\n  } else {\n    checksum = checksum << 1  \n  }\n  checksum = checksum ^ requestWoCrc[i];\n}\n\nmsg.checksum = checksum\nmsg.payload = Buffer.concat([requestWoCrc, Buffer.from([checksum])])\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":320,"wires":[["54dbfa1c.d5cd74","74530a01.566f44"]]},{"id":"9fba738e.9932f","type":"function","z":"76b8b990.84d73","name":"unpack request","func":"checksum = 0\n\nfor (i = 0; i < msg.payload.length-1; i++) {\n  if (checksum&\"0x80\"){\n    checksum = (checksum << 1 | 1) & \"0xFF\";\n    checksum = checksum ^ \"0x18\";\n  } else {\n    checksum = checksum << 1  \n  }\n  checksum = checksum ^ msg.payload[i];\n}\n\nmsg.checksum = checksum;\nmsg.rxBuffer = msg.payload\nmsg.rxData   = msg.payload.slice(2, Buffer.byteLength(msg.payload)-1); \n\nmsg.rxError = null;\n\nif (checksum != msg.payload[msg.payload.length-1])\n{\n    msg.rxError = \"crcErroronRX\";\n} else if(msg.rxBuffer.length == 3 && msg.rxBuffer[1]==1) {\n    msg.rxError = \"crcErrorOnTX\";\n} else if(msg.rxBuffer.length == 3 && msg.rxBuffer[1]==3) {\n    msg.rxError = \"notSupported\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":320,"wires":[["7055cf12.000a98","2a3a5d1e.f7958a"]]},{"id":"7055cf12.000a98","type":"function","z":"76b8b990.84d73","name":"parse Measurement","func":"function datacheck(msg, expBufferLen) {\n    if(msg.rxError)\n    {\n        node.error(\"rxError \"+msg.rxError +\" on Parameter Receive \" + msg.parameter.id +\"  \\n\" + JSON.stringify(msg) );\n        return false;\n    }\n    \n    var RXBufferLen = Buffer.byteLength(msg.rxData)\n    if(RXBufferLen!==expBufferLen)\n    {\n        node.error(msg.parameter.type +\" with not \"+ expBufferLen + \" byte on Parameter \" + msg.parameter.id +\" \\n\" + JSON.stringify(msg));\n        return false;\n    }\n    \n    return true;\n}\n\nswitch(msg.parameter.type){\n    case 'Status':\n        if(!datacheck(msg,1))\n            return [null, msg];\n        \n        if(msg.rxData[0]===0){\n            msg.parseresult = {status:\"kein Fehler\"}\n        } else if(msg.rxData[0]==0x55){\n            msg.parseresult = {status:\"Kurzschluss\"}\n        } else if(msg.rxData[0]==0xAA){\n            msg.parseresult = {status:\"Unterbrechung\"}\n        } else {\n            node.warn(\"Unbekannter Sensorstatus \\\"\"+ msg.rxData[0]+ \"\\\" an Prameter \" +msg.parameter.id);\n            return [null, msg];\n        }\n        return msg;\n    case \"Zustand\":\n        if(!datacheck(msg,1))\n            return [null, msg];\n            \n        switch(msg.rxData[0]){\n            case 0:\n            case 0xF0:\n                msg.parseresult = {zustand:0}\n                return msg;\n            case 1:\n            case 0x0F:\n                msg.parseresult = {zustand:1}\n                return msg;\n            default:\n                node.warn(\"Unbekannter Zustand \\\"\" + rxdata[0] + \"\\\"\");\n                return [null, msg];\n        }\n        break;\n    case '1ByteAnalog':\n        if(!datacheck(msg,1))\n            return [null, msg];\n            \n        msg.parseresult =  {value:msg.rxData.readInt8(0)};\n        return msg;\n    case '2ByteAnalog':\n        if(!datacheck(msg,2))\n            return [null, msg];\n            \n       msg.parseresult =  {value: msg.rxData.readInt16BE(0)/16};\n        return msg;\n    case '2ByteAnalog+Status':\n        if(!datacheck(msg,3))\n            return [null, msg];\n            \n       msg.parseresult =  {value: msg.rxData.readInt16BE(0)/16};\n       if(msg.rxData[2]===0){\n            msg.parseresult.status = \"kein Fehler\";\n        } else if(msg.rxData[2]==0x55){\n            msg.parseresult.status =\"Kurzschluss\";\n        } else if(msg.rxData[2]==0xAA){\n            msg.parseresult.status = \"Unterbrechung\";\n        } else {\n            node.warn(\"Unbekannter Sensorstatus \\\"\"+ msg.rxData[2]+ \"\\\"\");\n            return [null, msg];\n        }\n        return msg;\n    case '2x2ByteAnalog+Status':\n        if(!datacheck(msg,5))\n            return [null, msg];\n            \n       msg.parseresult =  {value: msg.rxData.readInt16BE(0)/16, value2: msg.rxData.readInt16BE(2)/16};\n       if(msg.rxData[4]===0){\n            msg.parseresult.status = \"kein Fehler\";\n        } else if(msg.rxData[4]==0x55){\n            msg.parseresult.status =\"Kurzschluss\";\n        } else if(msg.rxData[4]==0xAA){\n            msg.parseresult.status = \"Unterbrechung\";\n        } else {\n            node.warn(\"Unbekannter Sensorstatus \\\"\"+ msg.rxData[4]+ \"\\\"\");\n            return [null, msg];\n        }\n        return msg;\n    case \"Fehlerspeicher\":\n        if(!datacheck(msg,28))\n            return [null, msg];\n            \n        node.error(\"TODO \\\"\" +msg.parameter.type +\"\\\"\");\n        return null;\n    case \"Fehlerspeicher10B\":\n        if(!datacheck(msg,10))\n            return [null, msg];\n            \n        var posBit = 0;\n        for (var i = 0; i < msg.rxData.length; i++){\n            if(msg.rxData[i] & 0x80){\n                posBit = i+1;\n                break;\n            }\n                \n        }\n        \n        msg.parseresult = {\"posBit\":posBit};\n        if(posBit!==0){\n            for (i = 0; i < msg.rxData.length; i++){\n                index = posBit -1 -i;\n                if(index<0)\n                    index += msg.rxData.length;\n                \n                msg.parseresult[\"fsp\"+i] = msg.rxData[index]&0x7F;\n            }   \n        }\n        \n        return msg;\n    case \"DateTime\":\n        if(!datacheck(msg,7))\n            return [null, msg];\n            \n        msg.parseresult = {seconds:msg.rxData[0], minutes:msg.rxData[1], hours:msg.rxData[2], unkn:msg.rxData[3], date:msg.rxData[4], month:msg.rxData[5], year:msg.rxData[6]};\n        return msg;\n    case \"Buffer\":\n        datacheck(msg,0)\n        node.warn(\"Buffer out of Par# \"+ msg.parameter.id +\" :  \\\"\" +JSON.stringify(msg.rxBuffer) +\"\\\"\");\n        return [null, msg];\n    default:\n        node.error(\"TODO \\\"\" +msg.parameter.type +\"\\\"\");\n        return [null, msg];\n}","outputs":2,"noerr":0,"x":1200,"y":320,"wires":[["f3843894.0572d","e1ec500e.086108","edadaf7f.33ddb8","ed48248f.7bfbc"],["1ffa3e92.49a431"]]},{"id":"2a3a5d1e.f7958a","type":"debug","z":"76b8b990.84d73","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1170,"y":260,"wires":[]},{"id":"1f95cdc0.2774b2","type":"template","z":"76b8b990.84d73","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"[{\"id\":1,\"desc\":\"Sollwert Brauchwassertemperatur\",\"bytes\":2,\"type\":\"2ByteAnalog\"},\n{\"unsupported\":true, \"id\":2,\"desc\":\"?\",\"bytes\":2,\"type\":\"2ByteAnalog\"},\n{\"changed\":true,     \"id\":3,\"desc\":\"Unbekannter Statuswert\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"id\":4,\"desc\":\"Sollwert Speicher\",\"bytes\":2,\"type\":\"2ByteAnalog\"},\n{\"changed\":true,     \"id\":5,\"desc\":\"Flammsignal\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"id\":6,\"desc\":\"Fehlerspeicher?\",\"bytes\":28,\"type\":\"Fehlerspeicher\"},\n{\"changed\":true,     \"id\":7,\"desc\":\"?\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"changed\":true,     \"id\":8,\"desc\":\"Sommer/Winter-Schalter\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"id\":9,\"desc\":\"?\",\"bytes\":2,\"type\":\"2ByteAnalog\"},\n{\"id\":10,\"desc\":\"?\",\"bytes\":2,\"type\":\"2ByteAnalog\"},\n{\"id\":11,\"desc\":\"?\",\"bytes\":2,\"type\":\"2ByteAnalog\"},\n{\"unsupported\":true, \"id\":12,\"desc\":\"?\",\"bytes\":2,\"type\":\"2ByteAnalog\"},\n{\"changed\":true,     \"id\":13,\"desc\":\"?\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"id\":14,\"desc\":\"Status Raumthermostat\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"unsupported\":true, \"id\":15},\n{\"unsupported\":true, \"id\":16},\n{\"unsupported\":true, \"id\":17, \"noResponse\":true},\n{\"unsupported\":true, \"id\":18},\n{\"unsupported\":true, \"id\":19},\n{\"unsupported\":true, \"id\":20},\n{\"id\":21,\"desc\":\"Brauchwassersensor\",\"bytes\":3,\"type\":\"2ByteAnalog+Status\"},\n{\"id\":22,\"desc\":\"Brauchwassersensor\",\"bytes\":3,\"type\":\"2ByteAnalog+Status\"},\n{\"id\":23,\"desc\":\"Speichertemperatur\",\"bytes\":3,\"type\":\"2ByteAnalog+Status\"},\n{\"id\":24,\"desc\":\"Vorlauftemperatur\",\"bytes\":3,\"type\":\"2ByteAnalog+Status\"},\n{\"id\":25,\"desc\":\"?\",\"bytes\":2,\"type\":\"2ByteAnalog\"},\n\n{\"unsupported\":true, \"id\":27},\n{\"unsupported\":true, \"id\":28},\n{\"unsupported\":true, \"id\":29},\n{\"id\":30,\"desc\":\"?\",\"bytes\":1,\"type\":\"Status\"},\n{\"id\":31,\"desc\":\"Anzahl GFA Störungen\",\"bytes\":1,\"type\":\"1ByteAnalog\"},\n{\"id\":32,\"desc\":\"Anzahl STB Abschaltungen\",\"bytes\":1,\"type\":\"1ByteAnalog\"},\n{\"id\":33,\"desc\":\"?\",\"bytes\":1,\"type\":\"1ByteAnalog\"},\n{\"id\":34,\"desc\":\"?\",\"bytes\":2,\"type\":\"2ByteAnalog\"},\n{\"id\":35,\"desc\":\"?\",\"bytes\":2,\"type\":\"2ByteAnalog\"},\n{\"id\":36,\"desc\":\"Drehzahlsollwert\",\"bytes\":2,\"type\":\"2ByteAnalog\"},\n{\"id\":37,\"desc\":\"Sollwert Vorlauf Ext. Regler 7-8-9\",\"bytes\":2,\"type\":\"2ByteAnalog\"},\n{\"changed\":true,     \"id\":38,\"desc\":\"Fehlerspeicher\",\"bytes\":2,\"type\":\"Fehlerspeicher10B\"},\n{\"unsupported\":true, \"id\":39},\n{\"id\":40,\"desc\":\"?\",\"bytes\":2,\"type\":\"2ByteAnalog\"},\n{\"id\":41,\"desc\":\"?\",\"bytes\":2,\"type\":\"2ByteAnalog\"},\n{\"id\":42,\"desc\":\"?\",\"bytes\":8,\"type\":\"?\"},\n{\"id\":43,\"desc\":\"?\",\"bytes\":8,\"type\":\"?\"},\n{\"unsupported\":true, \"id\":44, \"noResponse\":true},\n{\"unsupported\":true, \"id\":45, \"noResponse\":true},\n{\"id\":46,\"desc\":\"?\",\"bytes\":2,\"type\":\"2ByteAnalog\"},\n{\"unsupported\":true, \"id\":47},\n{\"unsupported\":true, \"id\":48},\n{\"unsupported\":true, \"id\":49},\n{\"id\":50,\"desc\":\"?\",\"bytes\":2,\"type\":\"2ByteAnalog\"},\n\n\n\n\n\n{\"changed\":true,     \"id\":56,\"desc\":\"Verbleibende Brennersperrzeit\",\"bytes\":1,\"type\":\"1ByteAnalog\"},\n{\"id\":57,\"desc\":\"Sollwert Vorlauftemperatur\",\"bytes\":2,\"type\":\"2ByteAnalog\"},\n{\"unsupported\":true, \"id\":58,\"desc\":\"?\",\"bytes\":2,\"type\":\"2ByteAnalog\"},\n\n{\"id\":60,\"desc\":\"?\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"unsupported\":true, \"id\":61,\"desc\":\"?\",\"bytes\":1,\"type\":\"1ByteAnalog\"},\n{\"id\":62,\"desc\":\"?\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"id\":63,\"desc\":\"Status externe Heizungspumpe\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"id\":64,\"desc\":\"?\",\"bytes\":1,\"type\":\"Zustand\"},\n\n{\"id\":66,\"desc\":\"Stellung VUV\",\"bytes\":1,\"type\":\"Status\"},\n{\"id\":67,\"desc\":\"?\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"id\":68,\"desc\":\"Status interne Heizungspumpe\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"id\":69,\"desc\":\"?\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"changed\":true,     \"id\":70,\"desc\":\"?\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"id\":71,\"desc\":\"?\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"changed\":true,     \"id\":72,\"desc\":\"Status Gasmagnetventil\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"changed\":true,     \"id\":73,\"desc\":\"Status Zünder\",\"bytes\":1,\"type\":\"Zustand\"},\n\n{\"id\":75,\"desc\":\"?\",\"bytes\":2,\"type\":\"2ByteAnalog\"},\n{\"id\":76,\"desc\":\"?\",\"bytes\":1,\"type\":\"1ByteAnalog\"},\n{\"changed\":true,     \"id\":77,\"desc\":\"?\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"changed\":true,     \"id\":78,\"desc\":\"?\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"changed\":true,     \"id\":79,\"desc\":\"?\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"changed\":true,     \"id\":80,\"desc\":\"?\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"changed\":true,     \"id\":81,\"desc\":\"?\",\"bytes\":1,\"type\":\"Zustand\"},\n\n{\"changed\":true,     \"id\":83,\"desc\":\"Status Unbekannt\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"id\":84,\"desc\":\"?\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"id\":85,\"desc\":\"?\",\"bytes\":2,\"type\":\"2ByteAnalog\"},\n\n{\"id\":87,\"desc\":\"?\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"id\":88,\"desc\":\"Anforderung Warmwasser C1/C2\",\"bytes\":1,\"type\":\"Zustand\"},\n\n\n{\"id\":91,\"desc\":\"?\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"id\":92,\"desc\":\"?\",\"bytes\":2,\"type\":\"2ByteAnalog\"},\n{\"id\":93,\"desc\":\"?\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"id\":94,\"desc\":\"?\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"id\":95,\"desc\":\"?\",\"bytes\":1,\"type\":\"Zustand\"},\n\n\n\n{\"id\":99,\"desc\":\"Wasserpumpennachlaufzeit nach Speicherladung\",\"bytes\":1,\"type\":\"1ByteAnalog\"},\n{\"id\":100,\"desc\":\"Wasserpumpennachlaufzeit nach Heizbetrieb\",\"bytes\":1,\"type\":\"1ByteAnalog\"},\n{\"id\":101,\"desc\":\"Korrekturwert Aussentemperatur\",\"bytes\":1,\"type\":\"1ByteAnalog\"},\n{\"id\":102,\"desc\":\"Speicherladezeit\",\"bytes\":1,\"type\":\"1ByteAnalog\"},\n{\"changed\":true,     \"id\":104,\"desc\":\"DateTime\",\"bytes\":7,\"type\":\"DateTime\"},\n{\"id\":105,\"desc\":\"?\",\"bytes\":1,\"type\":\"1ByteAnalog\"},\n{\"id\":106,\"desc\":\"Aussentemperatur\",\"bytes\":3,\"type\":\"2ByteAnalog+Status\"},\n{\"id\":107,\"desc\":\"Ext. Vor-/Rücklauftemperatur\",\"bytes\":3,\"type\":\"2ByteAnalog+Status\"},\n{\"id\":108,\"desc\":\"Heizungsteillast\",\"bytes\":1,\"type\":\"1ByteAnalog\"},\n{\"id\":109,\"desc\":\"?\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"id\":110,\"desc\":\"?\",\"bytes\":1,\"type\":\"1ByteAnalog\"},\n{\"id\":111,\"desc\":\"Zähler 3 Zündversuche\",\"bytes\":1,\"type\":\"1ByteAnalog\"},\n{\"id\":112,\"desc\":\"?\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"id\":113,\"desc\":\"Status Speicherfreigabe Schaltuhr\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"id\":114,\"desc\":\"?\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"id\":115,\"desc\":\"?\",\"bytes\":2,\"type\":\"2ByteAnalog\"},\n{\"id\":116,\"desc\":\"?\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"id\":117,\"desc\":\"?\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"id\":118,\"desc\":\"?\",\"bytes\":3,\"type\":\"2ByteAnalog+Status\"},\n{\"changed\":true,     \"id\":119,\"desc\":\"?\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"id\":122,\"desc\":\"?\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"id\":123,\"desc\":\"?\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"id\":124,\"desc\":\"?\",\"bytes\":2,\"type\":\"2ByteAnalog\"},\n{\"id\":129,\"desc\":\"?\",\"bytes\":2,\"type\":\"2ByteAnalog\"},\n{\"id\":130,\"desc\":\"?\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"id\":131,\"desc\":\"Drehzahlistwert\",\"bytes\":2,\"type\":\"2ByteAnalog\"},\n{\"id\":137,\"desc\":\"?\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"id\":142,\"desc\":\"?\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"id\":143,\"desc\":\"?\",\"bytes\":9,\"type\":\"143\"},\n{\"unsupported\":true, \"id\":152,\"desc\":\"Rücklauftemperatur\",\"bytes\":5,\"type\":\"2x2ByteAnalog+Status\"},\n{\"id\":153,\"desc\":\"?\",\"bytes\":1,\"type\":\"1ByteAnalog\"},\n{\"id\":154,\"desc\":\"Unbekannter Temperaturwert\",\"bytes\":5,\"type\":\"2x2ByteAnalog+Status\"},\n{\"id\":155,\"desc\":\"?\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"id\":157,\"desc\":\"Offset Warmstartsollwert\",\"bytes\":1,\"type\":\"1ByteAnalog\"},\n{\"id\":158,\"desc\":\"Status Speicherladepumpe\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"unsupported\":true, \"id\":159,\"desc\":\"?\",\"bytes\":2,\"type\":\"2ByteAnalog\"},\n{\"id\":160,\"desc\":\"?\",\"bytes\":1,\"type\":\"1ByteAnalog\"},\n{\"id\":161,\"desc\":\"Sollwert interne Heizungspumpe\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"unsupported\":true, \"id\":162,\"desc\":\"?\",\"bytes\":2,\"type\":\"2ByteAnalog\"},\n{\"unsupported\":true, \"id\":163,\"desc\":\"?\",\"bytes\":3,\"type\":\"2ByteAnalog+Status\"},\n{\"id\":164,\"desc\":\"?\",\"bytes\":2,\"type\":\"2ByteAnalog\"},\n{\"id\":165,\"desc\":\"Max. Vorlauftemperatur\",\"bytes\":1,\"type\":\"1ByteAnalog\"},\n{\"id\":166,\"desc\":\"?\",\"bytes\":1,\"type\":\"1ByteAnalog\"},\n{\"unsupported\":true, \"id\":167,\"desc\":\"?\",\"bytes\":1,\"type\":\"1ByteAnalog\"},\n{\"unsupported\":true, \"id\":168,\"desc\":\"?\",\"bytes\":1,\"type\":\"1ByteAnalog\"},\n{\"id\":169,\"desc\":\"Unbekannter Wert\",\"bytes\":1,\"type\":\"1ByteAnalog\"},\n{\"id\":170,\"desc\":\"?\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"id\":171,\"desc\":\"?\",\"bytes\":1,\"type\":\"1ByteAnalog\"},\n{\"id\":172,\"desc\":\"?\",\"bytes\":2,\"type\":\"2ByteAnalog\"},\n{\"unsupported\":true, \"id\":173,\"desc\":\"?\",\"bytes\":1,\"type\":\"Status\"},\n{\"unsupported\":true, \"id\":174,\"desc\":\"?\",\"bytes\":1,\"type\":\"1ByteAnalog\"},\n{\"id\":175,\"desc\":\"Status Zirkulationspumpe\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"id\":176,\"desc\":\"?\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"unsupported\":true, \"id\":178,\"desc\":\"?\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"id\":179,\"desc\":\"Status Rücklaufregelung\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"id\":180,\"desc\":\"?\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"id\":182,\"desc\":\"Speichertemperatur unten\",\"bytes\":3,\"type\":\"2ByteAnalog+Status\"},\n{\"unsupported\":true, \"id\":183,\"desc\":\"Kollektortemperatur (nein!)\",\"bytes\":3,\"type\":\"2ByteAnalog+Status\"},\n{\"id\":184,\"desc\":\"Kollektortemperatur\",\"bytes\":3,\"type\":\"2ByteAnalog+Status\"},\n{\"id\":185,\"desc\":\"?\",\"bytes\":2,\"type\":\"2ByteAnalog\"},\n{\"id\":195,\"desc\":\"Hyterese Solarpumpe\",\"bytes\":1,\"type\":\"1ByteAnalog\"},\n{\"changed\":true,     \"id\":202,\"desc\":\"?\",\"bytes\":2,\"type\":\"Zustand\"},\n{\"unsupported\":true, \"id\":212,\"desc\":\"?\",\"bytes\":3,\"type\":\"2ByteAnalog+Status\"},\n{\"unsupported\":true, \"id\":213,\"desc\":\"?\",\"bytes\":1,\"type\":\"Zustand\"},\n{\"unsupported\":true,\"id\":214,\"desc\":\"?\",\"bytes\":1,\"type\":\"Zustand\"}]","output":"json","x":320,"y":40,"wires":[["68f4cedd.60403"]]},{"id":"682fb451.0a2324","type":"inject","z":"76b8b990.84d73","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":40,"wires":[["1f95cdc0.2774b2"]]},{"id":"68f4cedd.60403","type":"function","z":"76b8b990.84d73","name":"Parameter Switcher","func":"if(msg.topic ===\"injected\") {\n    context.set('injected',msg.payload);\n    node.status({fill:\"red\",shape:\"ring\",text:\"Strd - \" + msg.payload.id + \" - \" + msg.payload.desc+\" - \"+ msg.payload.type});\n    return null;\n}\n\n\nif (context.get('injected'))\n{\n    var element = context.get('injected');\n    node.status({fill:\"yellow\",shape:\"dot\",text:\"Inj - \" + element.id + \" - \" + element.desc+\" - \"+ element.type});\n    msg.payload = element.id;\n    msg.parameter = element;\n    context.set('injected',null);\n    return msg;    \n    \n}\n\n\nvar length = msg.payload.length;\n\nvar count = context.get(\"count\")||0;\nvar newCount = count;\nfor (var i = 0; i < msg.payload.length; i++){\n    newCount = newCount + 1;\n    if(newCount >= length)\n        newCount = 0;\n    element = msg.payload[newCount]\n    \n    if(!element.unsupported)\n        break;\n}\ncontext.set('count',newCount);\n\n\nmsg.payload = element.id\nmsg.parameter = element\n\nnode.status({fill:\"green\",shape:\"dot\",text:\"No \" + (count+1) + \"/\" + length +\" - \"+element.id + \" - \" + element.desc+\" - \"+ element.type});\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":40,"wires":[["3b1bd8dd.bcc748"]]},{"id":"a6db29ea.0afb6","type":"inject","z":"76b8b990.84d73","name":"","topic":"injected","payload":"{\"id\":5,\"desc\":\"Flammsignal\",\"bytes\":1,\"type\":\"Zustand\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":120,"wires":[["68f4cedd.60403"]]},{"id":"b0af67de.9d08a8","type":"inject","z":"76b8b990.84d73","name":"","topic":"","payload":"[0,0,\"0x98\",5]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":280,"wires":[["4c11b342.bb520c"]]},{"id":"f3843894.0572d","type":"debug","z":"76b8b990.84d73","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"msg.parseresult","targetType":"jsonata","x":1280,"y":420,"wires":[]},{"id":"2f9348ed.72adc","type":"inject","z":"76b8b990.84d73","name":"","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":420,"wires":[["3b1bd8dd.bcc748"]]},{"id":"54dbfa1c.d5cd74","type":"debug","z":"76b8b990.84d73","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":280,"wires":[]},{"id":"967fbf47.06bab8","type":"function","z":"76b8b990.84d73","name":"Simulate TCP","func":"function getRandomInt(max) {\n  return Math.floor(Math.random() * Math.floor(max));\n}\n\nvar status;\nswitch(msg.parameter.type){\n    case \"Status\":\n        switch(getRandomInt(3)){\n            case 0: \n                msg.payload = Buffer.from([0]);\n                break;\n            case 1: \n                msg.payload = Buffer.from([0x55]);\n                break;\n            case 2: \n                msg.payload = Buffer.from([0xAA]);\n                break;\n        }\n        break;\n    case \"Zustand\":\n        msg.payload = Buffer.from([getRandomInt(2)]);\n        break;\n    case \"1ByteAnalog\":\n        msg.payload = Buffer.from([getRandomInt(256)]);\n        break;\n    case \"2ByteAnalog\":\n        msg.payload = Buffer.from([getRandomInt(256),getRandomInt(256)]);\n        break;\n    case \"2ByteAnalog+Status\":\n        switch(getRandomInt(3)){\n            case 0: \n                status = 0;\n                break;\n            case 1: \n                status = 0x55;\n                break;\n            case 2: \n                status = 0xAA;\n                break;\n        }\n        msg.payload = Buffer.from([getRandomInt(256),getRandomInt(256),status]);\n        break;\n    case \"2x2ByteAnalog+Status\":\n        switch(getRandomInt(3)){\n            case 0: \n                status = 0;\n                break;\n            case 1: \n                status = 0x55;\n                break;\n            case 2: \n                status = 0xAA;\n                break;\n        }\n        msg.payload = Buffer.from([getRandomInt(256),getRandomInt(256),getRandomInt(256),getRandomInt(256),status]);\n        break;\n    case \"Fehlerspeicher\":\n        buffer = [];\n        for(var i=0;i<28;i++)\n            buffer.push(getRandomInt(256))\n        msg.payload = Buffer.from(buffer);\n        break;\n    default:\n        node.error(\"not spec \\\"\" + msg.parameter.type+\"\\\"\")\n        return null\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":400,"wires":[["46ace051.25339"]]},{"id":"46ace051.25339","type":"function","z":"76b8b990.84d73","name":"pack request","func":"firstBuf = Buffer.from([Buffer.byteLength(msg.payload)+3,0])\nrequestWoCrc = Buffer.concat([firstBuf, msg.payload]);\n\n// calcCRC\nchecksum = 0\n\nfor (i = 0; i < Buffer.byteLength(requestWoCrc); i++) {\n  if (checksum&\"0x80\"){\n    checksum = (checksum << 1 | 1) & \"0xFF\";\n    checksum = checksum ^ \"0x18\";\n  } else {\n    checksum = checksum << 1  \n  }\n  checksum = checksum ^ requestWoCrc[i];\n}\n\nmsg.checksum = checksum\nmsg.payload = Buffer.concat([requestWoCrc, Buffer.from([checksum])])\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":400,"wires":[["9fba738e.9932f"]]},{"id":"d1bcea8f.0b0058","type":"mqtt out","z":"76b8b990.84d73","name":"","topic":"","qos":"0","retain":"false","broker":"1bc93dc8.c567fa","x":1330,"y":560,"wires":[]},{"id":"e1ec500e.086108","type":"debug","z":"76b8b990.84d73","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"msg.parameter.type","targetType":"jsonata","x":1280,"y":460,"wires":[]},{"id":"edadaf7f.33ddb8","type":"debug","z":"76b8b990.84d73","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1310,"y":260,"wires":[]},{"id":"ed48248f.7bfbc","type":"function","z":"76b8b990.84d73","name":"","func":"arr = [];\n\nfor (var key in msg.parseresult) {\n    msg.topic = \"heizung/\"+msg.parameter.id + \"-\"+msg.parameter.desc+\"/\"+key;\n    msg.payload = msg.parseresult[key]\n    node.send(msg)\n}\n\n\nreturn null;","outputs":1,"noerr":0,"x":880,"y":620,"wires":[["d1bcea8f.0b0058","cc80ba15.a7c17","e7bf18a4.f0896"]]},{"id":"427c1bed.6c296c","type":"debug","z":"76b8b990.84d73","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":380,"wires":[]},{"id":"cc80ba15.a7c17","type":"mqtt out","z":"76b8b990.84d73","name":"","topic":"","qos":"0","retain":"false","broker":"f4a4c80.ccc9cb8","x":1330,"y":620,"wires":[]},{"id":"3cf0ce56.9cbe42","type":"file","z":"76b8b990.84d73","name":"","filename":"/home/ubuntu/heizung.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"utf8","x":1260,"y":680,"wires":[[]]},{"id":"e7bf18a4.f0896","type":"function","z":"76b8b990.84d73","name":"","func":"msg.payload = new Date().toISOString() + \";\" + msg.topic + \";\" +msg.payload+ \";\"+ JSON.stringify(msg.rxBuffer) + \";\"+ JSON.stringify(msg.parameter);\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":680,"wires":[["3cf0ce56.9cbe42"]]},{"id":"1ffa3e92.49a431","type":"debug","z":"76b8b990.84d73","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1050,"y":420,"wires":[]},{"id":"545e696c.5e7c4","type":"inject","z":"76b8b990.84d73","name":"","topic":"","payload":"[1,2,3]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":880,"y":120,"wires":[["65d68fd3.226d68"]]},{"id":"4dc6230.39b1cdc","type":"debug","z":"76b8b990.84d73","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1200,"y":120,"wires":[]},{"id":"65d68fd3.226d68","type":"function","z":"76b8b990.84d73","name":"unpack request","func":"checksum = 0\n\nfor (i = 0; i < Buffer.byteLength(msg.payload)-1; i++) {\n  if (checksum&\"0x80\"){\n    checksum = (checksum << 1 | 1) & \"0xFF\";\n    checksum = checksum ^ \"0x18\";\n  } else {\n    checksum = checksum << 1  \n  }\n  checksum = checksum ^ msg.payload[i];\n}\nmsg.checksum = checksum\n\n/*msg.rxBuffer = msg.payload\nmsg.rxData   = msg.payload.slice(2, Buffer.byteLength(msg.payload)-1); \n\nmsg.rxError = null;\n\nif (checksum == msg.payload[Buffer.byteLength(msg.payload)-1])\n{\n    msg.rxError = \"crcErroronRX\";\n} else if(rxBuffer.length == 3 && rxData[1]==1) {\n    msg.rxError = \"crcErrorOnTX\";\n} else if(rxBuffer.length == 3 && rxData[1]==1) {\n    msg.rxError = \"notSupported\";\n}*/\n\nnode.error(msg.payload.length)\n\nmsg.payload =msg.payload[msg.payload.length-1]\n\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":120,"wires":[["4dc6230.39b1cdc"]]},{"id":"1bc93dc8.c567fa","type":"mqtt-broker","z":"","name":"MPCS","broker":"192.168.178.20","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f4a4c80.ccc9cb8","type":"mqtt-broker","z":"","name":"cloudmqtt","broker":"farmer.cloudmqtt.com","port":"18212","clientid":"node-red","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]